.mixed {
    font-family: "Notable", sans-serif;
    font-size: 3rem;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    transform: rotate(-180deg);
  }

  .t1 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
  }


  .t2 {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
  }

  .t21 {
    font-family: "Notable", sans-serif;
    font-size: 1rem;
  }
  
  .t22 {
    font-family: "Montserrat+Subrayada", sans-serif;
    font-size: 1rem;
  }

  .mixed1 {
    font-family: "Notable", sans-serif;
    font-size: 1rem;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    transform: rotate(-180deg);
  }