/*
 * Border Color Fade
 * Blue: #66d8ed
 */
 .ghost-button-border-color {

  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color:hover,
.ghost-button-border-color:active {
  color: #66d8ed;
  border-color: #66d8ed;
  -webkit-transition: border-color 0.4s ease-in,              color 0.4s ease-in;
  transition: border-color 0.4s ease-in,              color 0.4s ease-in;
  -moz-transition: border-color 0.4s ease-in,              color 0.4s ease-in;
  -ms-transition: border-color 0.4s ease-in,              color 0.4s ease-in;
  -o-transition: border-color 0.4s ease-in,              color 0.4s ease-in;
}

.a {
  max-width: 1140px;
}

.a_box {
  background-image: url('/img/biowood/002.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.b_box {
  background-image: url('/img/biowood/003.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.c_box {
  background-image: url('/img/biowood/004.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.d_box {
  background-image: url('/img/biowood/005.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.e_box {
  background-image: url('/img/biowood/006.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.f_box {
  background-image: url('/img/biowood/007.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.g_box {
  background-image: url('/img/biowood/008.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.border_style {
  border-left-style:solid; 
  border-color:#D0342C; 
  border-width:1rem; 
}

.border_style1 {
  border-left-style:solid; 
  border-color:#D0342C; 
  border-width:0.4rem; 
}
