RewriteEngine on
RewriteRule ^(.*)$ https://fulltown.taipei/$1 [R=301,L]
Redirect 301 /index.html https://fulltown.taipei/index.php
Redirect 301 /biowood.html https://fulltown.taipei/page/BIOWOOD_tw.php
Redirect 301 /NAKARAI.html https://fulltown.taipei/page/NAKARAI_tw.php
