RewriteEngine on
RewriteRule ^(.*)$ https://fulltown.taipei/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^https://fulltown.taipei/biowood.html$
RewriteRule ^$ https://fulltown.taipei/productline/biowood.html [L,R=301]
